.cabecalho{
    display: flex;
    justify-content: center;
    gap: 25%;
    text-align: center;
    
    padding: 1em;
    
}

.cabecalho__logo {
    margin: 0;
}

.cabecalho__lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
    margin: 0;
}

.cabecalho__lista__item {
    color: var(--color-principal);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--borda-itens);
    border-radius: 10%;
    padding: 0.3em;
    
}

.cabecalho__lista__item:hover {
    color: rgb(19, 3, 40);
    background-color: var(--hover-itens-cabecalho);
    
}


/* Main */

.contatos {
    display: flex;
    justify-content: center;
}

.titulo__contatos{
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: calc(1.325rem + .9vw);

}

.lista__contatos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 50px;
    padding: 0 1em;
    margin: 3% 0;
    
}

.navegacao__cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.item__contatos {
    text-decoration: none;
    align-items: center;
   
}

.item__contatos:hover {
    background-color: var(--hover-navegacao);
} 



.link__email,
.link__linkedin ,
.link__github,
.link__instagram {
    color: var(--titulo-imagens);
    font-family:'Courier New', Courier, monospace;
    font-size: 44px;

}


.fa-envelope {
    color: rgb(159, 89, 89);
    margin-right: 10px;
}

.fa-github,
.fa-linkedin {
    color:  var(--color-principal);
    margin-right: 10px;
}

.fa-square-instagram {
    color: rgb(200, 36, 129);
    margin-right: 10px;
}


@media (max-width: 768px) {
    .cabecalho {
      flex-wrap: wrap;
      align-items: center;
    }
    
    .cabecalho__lista {
      flex-direction: column;
    }
  }