.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.cabecalho__logo {
    width: 150px;
    height: 10vh;
    
}

.cabecalho__lista {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cabecalho__lista__item {
    color: var(--color-principal);
    text-transform: uppercase;
    text-decoration: none;
    
}

.cabecalho__lista__item:hover {
    color: black;
    text-decoration: underline;
    background-color: rgb(226, 198, 43);
}
 

/* Main */

.titulo__contatos{
        color: var(--titulo-imagens);
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: calc(1.325rem + .9vw);

}

.lista__contatos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 50px;
    align-items: flex-start;
    padding: 1em;
    justify-content: center;
    
}



.item__contatos {
    text-decoration: none;
    align-items: center;
   
}

.item__contatos:hover {
    background-color: rgb(146, 163, 117);
} 



.link__email,
.link__linkedin ,
.link__github,
.link__instagram {
    color: var(--titulo-imagens);
    font-family:'Courier New', Courier, monospace;
    font-size: 44px;

}


.fa-envelope {
    color: rgb(159, 89, 89);
    margin-right: 10px;
}

.fa-github,
.fa-linkedin {
    color:  var(--color-principal);
    margin-right: 10px;
}

.fa-square-instagram {
    color: rgb(200, 36, 129);
    margin-right: 10px;
}


/* Footer */

.rodape {
    display: flex;
    flex-direction: column;
    background-color: var(--logo-footer);
   align-items: center;
    
}

.rodape__logo {
    width: 115px;
    margin-top: 4px;


}

.rodape__creditos {
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fonte-creditos);
    padding: 9px;
}
