.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.cabecalho__logo {
    width: 40vw;
    height: 10vh;
    
}

.cabecalho__navegacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navegacao__lista {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-principal);

}

.navegacao__lista:hover {
    color: var(--hover);
    text-decoration: underline;
}

/* Main */

.titulo__contatos{
    padding: 1em 0;
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

.lista__contatos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 50px;
    align-items: flex-start;
    padding: 1em;
    justify-content: center;
    
}



.item__contatos {
    text-decoration: none;
    align-items: center;
   
}

.item__contatos:hover {
    background-color: rgb(146, 163, 117);
} 



.link__email,
.link__linkedin ,
.link__github,
.link__instagram {
    color: var(--titulo-imagens);
    font-family:'Courier New', Courier, monospace;
    font-size: 44px;

}


.fa-envelope {
    color: rgb(159, 89, 89);
    margin-right: 10px;
}

.fa-github,
.fa-linkedin {
    color:  var(--color-principal);
    margin-right: 10px;
}

.fa-square-instagram {
    color: rgb(200, 36, 129);
    margin-right: 10px;
}




/* Footer */

.footer {
    background-color: var(--logo-footer);
    position: relative;
    margin-top: 5.4em;
    height: 16vh;
    text-align: center;
}

.logo__footer {
    width: 188px;
    margin-top: 4px;
}

.creditos {
    font-family: var(--fonte-creditos);
    font-size: 14px;
    font-weight: 800;
    padding: 9px;
}