
body {
    background-color: var(--background);
    font-family: var(--font-Chakra400); 
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1em;
}

.logo__cabecalho {
    width: 30vw;
    height: 10vh;
    
}

.navegacao {
    padding: 1em;
    
}

.nav__lista {
    margin: 0.3em 0;
}

.lista__menu  {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-principal);

}

.lista__menu:hover {
    color: var(--hover);
    text-decoration: underline;
}

/* Main */


.certificados__titulo {
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
}

.content {
    height: 372px;
    width: 389px;
    overflow: hidden;
    position: absolute;
    top: 18%;
}

.slides {
    display: flex;
    width: 1000%;
    height: 100%;
}

input {
    display: none;
}





.slide img {
    width: 100%;
    height: 70%;
    box-shadow: 10px 10px 10px 0 #da3f34;
    margin-top: 2em;
    border-radius: 20px;
    
}

/* Relacionado a quantidade de imagens para dividir
dentro do width.*/
#slide1:checked ~ .s1 {
    margin-left: 0% ;
}

#slide2:checked ~ .s1 {
    margin-left: -10% ;
    
}

#slide3:checked ~ .s1 {
    margin-left: -20% ;
}

#slide4:checked ~ .s1 {
    margin-left: -30% ;
}

#slide5:checked ~ .s1 {
    margin-left: -40% ;
}

#slide6:checked ~ .s1 {
    margin-left: -50% ;
}

#slide7:checked ~ .s1 {
    margin-left: -60% ;
}

#slide8:checked ~ .s1 {
    margin-left: -70% ;
}

#slide9:checked ~ .s1 {
    margin-left: -80% ;
}

#slide10:checked ~ .s1 {
    margin-left: -90% ;
}

.slide {
    width: 10%;
    transition: .9s;
}

.navigation {
    background-color: var(--background-navegacao);
    position: absolute;
    bottom: 40px;
    display: flex;

}

.bar {
    width: 21px;
    height: 12px;
    border: 3px solid #1b1c197d;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: rgb(8, 8, 8);
    font-size: 12px;

}

.certificado__fasam {
    display: block;
    position: absolute;
    bottom: 12em;
    left: 4em;
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.logo__fasam {
    width: 100%;
    margin-top: 90%;
     bottom: 2em;
 
 }

 .descricao__fasam {
    width: 100%;
    color:var(--textos);
    font-family: var(--font-Chakra400);
    font-size: 11px;
    
}


/* Footer */


.footer {
    background-color: var(--logo-footer);
    position: relative;
    margin-top: 0.2em;
    height: 9vh;
    text-align: center;
}

.logo__footer {
    width: 132px;
    margin-top: 0.5em;
}