header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8em;
}

.logo {
    padding: 1em;
}

.logo__cabecalho {
    width: 30vw;
    height: 10vh;
    
}

.navegacao {
    padding: 1em;
    
}

.nav__lista {
    margin: 0.3em 0;
}

.lista__menu  {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-principal);

}

.lista__menu:hover {
    color: var(--hover);
    text-decoration: underline;
}

/* Main */


.certificados__titulo {
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
}

.carousel-inner img {
    margin-bottom: 1.5em;
}

.carousel-item img {
    box-shadow: 1px 10px 10px 0 #f5f5ef;
    border-radius: 20px;
     
}

.accordion-button:not(.collapsed)  {
    background-color: #d38e07;
    color: var(--color-principal);
    
}

.accordion-button:not(.collapsed)::after {
    transform: inherit;
} 


 .descricao__fasam {
    width: 100%;
    text-transform: uppercase;
    color:var(--color-principal);
    font-family: var(--font-Chakra400);
    font-size: 14px;
    background-color: #d38e07;
    padding: 1.2em;
    
}

.texto__fasam {
    color: var(--texto-fasam);
    font-weight: 800;
    font-family: var(--font-Chakra400);
    font-size: 15px;
}

.accordion-body {
    color: #1b2a04;
    background-color: #49b9ea;
    font-size: 15px;
    font-family: var(--font-Chakra400);
}

.accordion-button {
    text-align: center;
}


/* Footer */

footer {
    text-align: center;
        width: 100%;
    background-color: var(--logo-footer);
}


.tamanho__logo {
    width: 120px;
    margin-top: 0.5em;
}

.creditos {
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fonte-creditos);
    padding: 9px;
}
