.cabecalho{
    display: flex;
    justify-content: center;
    gap: 25%;
    text-align: center;
    
    padding: 1em;
    
}

.cabecalho__logo {
    margin: 0;
}

.cabecalho__lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
    margin: 0;
}

.cabecalho__lista__item {
    color: var(--color-principal);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--borda-itens);
    border-radius: 10%;
    padding: 0.3em;
    
}

.cabecalho__lista__item:hover {
    color: rgb(19, 3, 40);
    background-color: var(--hover-itens-cabecalho);
    
}

/* Main */
.carousel {
    width: 30%;
    left: 35%;
}


.certificados__titulo {
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
}

.carousel-inner img {
    margin-bottom: 1.5em;
    
}

.carousel-item img {
    box-shadow: 1px 10px 10px 0 #f5f5ef;
    border-radius: 20px;
     
}



/* Fasam */

.curso__fasam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imagem__fasam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1em;
        
}


.texto__fasam {
    color: var(--texto-fasam);
    font-weight: 800;
    font-family: var(--font-Chakra400);
    font-size: 15px;
}

/* Accordion */

.accordion {
    width: 27%;
    margin-left: 36.5%;
    background-color: black;
}



.accordion-body {
   
    background-color: #49b9ea;
    font-size: 15px;
    font-family: var(--font-Chakra400);
}

.accordion-button {
    text-align: center;
    background-color: var(--border-projetos);
    color: white;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    
}

.accordion-button:not(.collapsed)  {
    background-color: var(--border-projetos);
    color: var(--color-principal);
    
}

.accordion-button:not(.collapsed)::after {
    transform: inherit;
} 
