.cabecalho{
    display: flex;
    justify-content: center;
    gap: 25%;
    text-align: center;
    
    padding: 1em;
    
}

.cabecalho__logo {
    margin: 0;
}

.cabecalho__lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
    margin: 0;
}

.cabecalho__lista__item {
    color: var(--color-principal);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--borda-itens);
    border-radius: 10%;
    padding: 0.3em;
    
}

.cabecalho__lista__item:hover {
    color: rgb(19, 3, 40);
    background-color: var(--hover-itens-cabecalho);
    
}
 


/* Main */

.apresentacao__imagem{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.imagem__castelo {
    width: 35vw;
    box-shadow: 10px 10px 10px 0 #dce8d5;
}

.imagem__castelo:hover {
    box-shadow: 10px 10px 10px 0 #41821b;
}

.apresentacao__quem__sou {
    padding: 1.5em 0;
    text-align: -webkit-center;
}

.botao__quem-sou{
   color: var(--hover);
   text-transform: uppercase;
}
