
body {
    font-family: var(--font-Chakra400);
    background-color: var(--background);
    height: 100vh;
    

}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.lista {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em;
}

.lista__menu {
    color: var(--color-principal);
    text-transform: uppercase;
    text-decoration: none;
    
}

.lista__menu:hover {
    color: var(--hover);
    text-decoration: underline;
}
 
.imagem__home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Main */

.imagem__castelo {
    width: 87vw;
    margin-top: 3em;
    box-shadow: 10px 10px 10px 0 #dce8d5;
}

.quem__sou {
    width: 100vw;
    margin-top: 1em;
    text-align: center;
    
}


.botao__quem-sou{
   color: var(--hover);
   margin-top: 2em;
}
/* Footer */



.footer {
    background-color: var(--logo-footer);
    text-align: center;
    position: inherit;
   margin-top: 2em;
    
}

.logo__footer {
    width: 115px;
    margin-top: 4px;
}

.creditos {
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fonte-creditos);
    padding: 9px;
}

