body {
    height: 100%;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
    
}

.cabecalho__logo {
    margin: 0;
}

.cabecalho__lista {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 0;
}

.cabecalho__lista__item {
    color: var(--color-principal);
    text-transform: uppercase;
    text-decoration: none;
    
}

.cabecalho__lista__item:hover {
    color: var(--hover);
    text-decoration: underline;
}
 


/* Main */

.apresentacao__imagem{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.imagem__castelo {
    width: 80vw;
    box-shadow: 10px 10px 10px 0 #dce8d5;
}

.apresentacao__quem__sou {
    padding: 1.5em 0;
    text-align: center;
    
}

.botao__quem-sou{
   color: var(--hover);
   text-transform: uppercase;
}
/* Footer */



.rodape {
    display: flex;
    flex-direction: column;
    background-color: var(--logo-footer);
   align-items: center;
    
}

.rodape__logo {
    width: 115px;
    margin-top: 4px;


}

.rodape__creditos {
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fonte-creditos);
    padding: 9px;
}

