
/* header */
body {
    background-color: var(--background);
    font-family: var(--font-Chakra400);
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1em;
}

.logo__cabecalho {
    width: 30vw;
    height: 10vh;
    
}

.navegacao {
    padding: 1em;
}

.nav__lista {
    margin: 0.3em 0;
}

.lista__menu  {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-principal);

}

.lista__menu:hover {
    color: rgb(193, 140, 24);
    text-decoration: underline;
}

/* Carrossel */

.carrossel__titulo {
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.swiper-slide img {
    width: 195px;
    height: 350px;
    
}

.swiper-button-prev , 
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    background-color: rgb(244 246 240);
    position: initial;
    margin-top: 1em;
    padding: 0.2em;
}

.descricao__projeto {
    color: var(--textos);
    margin: 0.4em 0.3em;
    border: solid 2px #d01440;
    padding: 1em;
}