.container{
    display: flex;
    justify-content: center;
    gap: 25%;
    text-align: center;
    
    padding: 1em;
    
}

.container__logo {
    margin: 0;
}

.container__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
    margin: 0;
}

.container__list__item {
    color: var(--color-principal);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--borda-itens);
    border-radius: 10%;
    padding: 0.3em;
    
}

.container__list__item:hover {
    color: rgb(19, 3, 40);
    background-color: var(--hover-itens-container);
    
}


/* Carrossel */
.carrossel__projetos {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 20%;
}  


.projetos { 
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.descricao__projeto {
    color: var(--textos);
    max-width: 85%;
    margin-bottom: 20%;
    border: solid 2px var(--border-projetos);
    margin-left: 7%;
    
}

.carousel-inner img {
    max-width: 40%;
    margin-left: 30%;
    margin-bottom: 1.5em;
    border-radius: 20px;
    box-shadow: 1px 10px 10px 0 #1d016f; 
}

@media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      align-items: center;
    }
    
    .container__list {
      flex-direction: column;
    }
  }