header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1em;
}

.logo__cabecalho {
    width: 30vw;
    height: 10vh;
    
}

.navegacao {
    padding: 1em;
   
}

.nav__lista {
    margin: 0.3em 0;
}

.lista__menu  {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-principal);

}

.lista__menu:hover {
    color: var(--hover);
    text-decoration: underline;
}

/* Carrossel */

.projetos { 
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.carousel-item img {
    box-shadow: 1px 10px 10px 0 #f5f5ef;
    border-radius: 20px;
     
}

.descricao__projeto {
    color: var(--textos);
    margin-bottom: 0.5em;
    border: solid 2px var(--border-projetos);

}

.carousel-inner img {
    margin-bottom: 1.5em;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/* Footer */

.footer {
    background-color: var(--logo-footer);
    text-align: center;
}

.logo__footer {
    width: 140px;
    margin-top: 4px;
}

.creditos {
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fonte-creditos);
    padding: 9px;
}