/* Section skills */

.certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

.carousel {
    width: 100%;

}

.container__title {
    color: var(--titulo-imagens);
    text-align: center;
    text-transform: uppercase;
}

.carousel-inner img {
    max-width: 40%;
    margin-left: 30%;
    margin-bottom: 1.5em;
    border-radius: 20px;
    box-shadow: 1px 10px 10px 0 #1d016f; 
}

.carousel-item img {
    box-shadow: 1px 10px 10px 0 #f5f5ef;
    border-radius: 20px;
}

