
/* Section about me */

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation .image__castle {
    width: 35vw;
    box-shadow: 10px 10px 10px 0 #118757;
    
}

.image__castle:hover {
    box-shadow: 10px 10px 10px 0 #e7eae5;
}

.presentation__whoIAm {
    padding: 1.5em 0;
    text-align: -webkit-center;
}

.button__whoIAm {
    color: var(--color-principal);
    text-transform: uppercase;
    border-color: var(--borda-itens);
    border-width: 3px;
}

.button__whoIAm:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: var(--borda-itens);

}


@media (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .container__list__item {
        width: 20px;
    }



    /*About me*/


    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .presentation__image .image__castle {
        width: 270px; 
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 10px 0 #118757;
    }

    .carousel-inner img {
        width: 100%; /* Defina a largura que você deseja para as imagens */
        height: auto; /* Isso manterá a proporção original das imagens */
      }
}