/* Section about me */

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation__image .image__castle {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 0 #118757;
}

.image__castle:hover {
    box-shadow: 10px 10px 10px 0 #e7eae5;
}

.presentation__whoIAm {
    padding: 1.5em 0;
    text-align: -webkit-center;
    max-width: 500px;
}

.button__whoIAm {
    color: var(--color-principal);
    text-transform: uppercase;
    border-color: var(--borda-itens);
    border-width: 3px;
}

.button__whoIAm:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: var(--borda-itens);

}



.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
}