:root {
    --font-Chakra400: 'Chakra Petch', sans-serif;
    --background: #131314;
    --color-principal:#f0ffff;
    --color-descrition: rgb(203 233 224);
    --titulo-imagens: rgb(221, 223, 195);
    --textos: rgb(203 233 224);

}


